<div id="controls-join">
    <input name="name" type="text" id="controls-player-name" value="{{ name }}" />
    <button id="controls-join-button">Join</button>
</div>
<div id="controls-game">
    <button id="controls-status-button">{{ button }}</button>
</div>
<div id="controls-status">
    {{ status }}
</div>