<li class="player-powerup {{ id }}">
    <i class="player-powerup-icon"></i>
        <span class="player-powerup-time">
            {{ remaining }}
            <span class="player-powerup-time-units">s</span>
        </span>
</li>