{% extends 'layout.html' %}
{% block title %}{% parent %} - Game: {{ id }} {% endblock %}

{% block content %}

<h2>Game: {{ id }}</h2>

<div id="app">
    <div id="messages">

    </div>
    <div id="game" class="clearfix">
        <div id="top" class="panel clearfix">
            <div id="scores">

            </div>
            <ul id="powerups">

            </ul>
        </div>
        <div id="canvas">

        </div>
        <div id="controls" class="panel clearfix">

        </div>
    </div>
    <ul id="players">

    </ul>
</div>

{% endblock %}

{% block scripts %}

<script src="/javascripts/src/init.js"></script>

<script src="/javascripts/src/app/models/Game.js"></script>
<script src="/javascripts/src/app/models/Player.js"></script>
<script src="/javascripts/src/app/models/KeyListener.js"></script>
<script src="/javascripts/src/app/collections/Players.js"></script>

<script src="/javascripts/src/app/views/Messages.js"></script>
<script src="/javascripts/src/app/views/Canvas.js"></script>
<script src="/javascripts/src/app/views/Controls.js"></script>
<script src="/javascripts/src/app/views/Scores.js"></script>
<script src="/javascripts/src/app/views/PowerUps.js"></script>
<script src="/javascripts/src/app/views/Players.js"></script>
<script src="/javascripts/src/app/views/Game.js"></script>
<script src="/javascripts/src/app/views/templates/templates.js"></script>

{% endblock %}